apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: n8n-db
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      service: n8n-db
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        service: n8n-db
    spec:
      containers:
        - image: postgres:11
          name: postgres
          resources:
            limits:
              cpu: "4"
              memory: 4Gi
            requests:
              cpu: 400m
              memory: 500Mi
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: n8n-db-data
              mountPath: /var/lib/postgresql/data
          env:
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: n8n-db-secrets
                  key: DB_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: n8n-db-secrets
                  key: DB_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: n8n-db-secrets
                  key: DB_NAME
      restartPolicy: Always
      volumes:
        - name: n8n-db-data
          persistentVolumeClaim:
            claimName: n8n-db-data
